@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caprasimo', serif;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: white;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(115deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 68%, rgba(116,116,116,1) 100%);
}

html{
    scroll-behavior: smooth;
  }

